<div class="container-fluid">
	<h1>Welcome to {{ title }}</h1>
	<nav class="navbar navbar-default navbar-fixed-top full-width">
		<div class="container-fluid">
			<ul class="list-inline">
				
				<li class="list-inline-item"><a routerLink="index" routerLinkActive="index"><i class="fa fa-list"></i>&nbsp;List Currency</a></li>
				<li class="list-inline-item"><a routerLink="create" routerLinkActive="create"><i class="fa fa-plus"></i>&nbsp;Add Currency</a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="container-fluid">
	<router-outlet></router-outlet>
</div>